//====================================================================================================
.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 0;
  background: #432877;
  &__row {
    @include flexbox();
    height: 56px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &__logo {
    svg {
      width: 100%;
      height: 25px;
    }
    position: relative;
    z-index: 3;
    font-weight: 700;
    @media (max-width: 1190px) {
      margin-right: 0;
    }
    @media (max-width: 991.98px) {
      display: none;
    }
  }
  &__menu {
    flex: 1 1 auto;
  }
  &__right {
    @include flexbox();
    svg {
      width: 25px;
      height: 25px;
    }
  }
  &__money {
    @include flexbox();
    align-items: center;
    span {
      display: block;
      padding-left: 10px;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
    }
  }
  &__message {
    padding-left: 20px;
    svg {
      fill: #fff;
    }
  }
}

.menu {
  &__body {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    @media (max-width: 991.98px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      background-color: #432877;
      display: block;
      padding-top: 20px;
      &.active {
        top: 0;
      }
    }
  }

  &__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    @media (max-width: 991.98px) {
      display: block;
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    & li {
      margin: 0px 0px 0px 20px;
      @media (max-width: 991.98px) {
        margin: 0px 0px 25px 0px;
      }
    }
  }
}

.menu__list a {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.menu__list a:hover {
  color: #ffbe5d;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.menu__list a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -9px;
  left: 0;
  background-color: #ffbe5d;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu__list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
//====================================================================================================
.header__navTop {
  flex: 1 1 auto;
}
@media (max-width: 991.98px) {
  .header__navTop {
    flex-direction: column;
    flex-wrap: wrap;
    background: #432877;
    position: fixed;
    transform: translateX(100%);
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    z-index: 10;
    @media (max-width: 500px) {
      width: 100%;
    }
    padding: 6rem 0 0px 8px;
    transition: transform 0.3s ease-in-out;
    & li {
      margin-bottom: 20px;
      font-size: 18px;
      text-align: left;
      margin-right: 0;
      @media (max-width: 500px) {
        text-align: center;
      }
    }
  }
}

.styledBurger {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 11px;

  right: 35px;
  z-index: 20;
  display: none;
  @media (max-width: 991.98px) {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }
  .elementBurger {
    width: 2rem;
    height: 0.25rem;
    background-color: #fff;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
    &:nth-child(1) {
      transform: rotate(0);
    }
    &:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
    }
    &:nth-child(3) {
      transform: rotate(0);
    }
  }
}
.header__navTop.open {
  transform: translateX(0%);
}
.styledBurger.open {
  position: fixed;
  .elementBurger:nth-child(1) {
    transform: rotate(45deg);
  }
  .elementBurger:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }
  .elementBurger:nth-child(3) {
    transform: rotate(-45deg);
  }
  .elementBurger {
    background-color: #fff;
  }
}
